[submodule "Beatporter"]
	path = Beatporter
	url = https://github.com/rootshellz/Beatporter
[submodule "color_palettes/color-palette"]
	path = color_palettes/color-palette
	url = git@github.com:portnov/color-palette.git
[submodule "pixelhouse"]
	path = pixelhouse
	url = https://github.com/thoppe/pixelhouse
[submodule "stackoverflow-scraper"]
	path = stackoverflow-scraper
	url = https://github.com/djsnipa1/stackoverflow-scraper
