[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
windows-curses = "*"
opencv-python = "*"
kivy = "*"
kivy-examples = "*"
docutils = "*"
pygments = "*"
pypiwin32 = "*"
kivy-deps-sdl2 = "==0.1.*"
kivy-deps-glew = "==0.1.*"
jupytext = "*"
ipykernel = "*"

[packages]
requests = "*"
lxml = "*"
urlextract = "*"
simplenote = "*"
python-dotenv = {extras = ["cli"],version = "*"}
html2text = "*"
beautifulsoup4 = "*"
spotipy = "*"
pandas = "*"
pillow = "*"
matplotlib = "*"
yaspin = "*"
pybadges = "*"
pixelhouse = "*"

[requires]
python_version = "3.7"
