[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
windows-curses = "*"
opencv-python = "*"
kivy = "*"
kivy-examples = "*"
urwid = "*"

[packages]
requests = "*"
lxml = "*"
urlextract = "*"
simplenote = "*"
python-dotenv = {extras = ["cli"],version = "*"}
html2text = "*"
beautifulsoup4 = "*"
spotipy = "*"
pandas = "*"
pillow = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
