appdirs==1.4.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
docutils==0.16
html2text==2020.1.16
html5lib==1.0b10
idna==2.9
Kivy==1.11.1
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
lxml==4.5.0
mechanize==0.4.5
numpy==1.18.1
pandas==1.0.2
Pygments==2.6.1
python-dateutil==2.8.1
python-dotenv==0.12.0
python-oembed==0.2.4
pytz==2019.3
requests==2.23.0
simplenote==2.1.4
six==1.14.0
soupsieve==2.0
spotipy==2.9.0
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.8
webencodings==0.5.1
